/* App.css */

.Brainy {
  text-align: center;
}

header {
  background-color: #3f51b5; /* Modrá barva */
  color: #fff;
  padding: 20px 0;
}

header h1 {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.registration-form {
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px;
  background-color: #f5f5f5; /* Světle šedá barva */
}

.registration-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff; /* Modrá barva */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #0056b3; /* Tmavší odstín modré */
}

/* Styly pro celou stránku */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Styly pro odkazy */
a {
  color: #007bff; /* Modrá barva pro odkazy */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Styly pro textová pole */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Styly pro tlačítka */
button,
input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff; /* Modrá barva */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover,
input[type="submit"]:hover {
  background-color: #0056b3; /* Tmavší odstín modré */
}
